{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
         {% comment %} {{form.as_p}} {% endcomment %}
        {{form.username.label}}
        {{form.username}}
        <br>
        <br>
        {{form.email.label}}
        {{form.email}}
        <br>
        <br>
        {{form.password1.label}}
        {{form.password1}}
        <br>
        <br>
        {{form.password2.label}}
        {{form.password2}}
        <br>
        <input type="submit" value="Submit">
        {{form.errors}}
        <br>
        <p>Have an Account ? <a href="{% url 'login'%}">Login </a>here</p>
        <button><a href="{% provider_login_url 'google'%}">Login With Google</a></button>
    </form>
</body>
</html>